*{
    box-sizing: border-box;
    font-family: sans-serif;
   margin:0px;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(to bottom right, #339966 0%, #000099 100%);
}
.Container{
    max-width: 500px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid white;
    border-radius: 9px;
}
h1{
    margin-top:27px;
}
h1,p{
    text-align: center;
}
p{
    margin-top: 6px;
    margin-bottom: 10px;
}
.Pa a{
    color: whitesmoke;
    padding-top: 23%;

}

input[type="text"],input[type="password"]{
    padding: 10px;
    width: 50%;
    background-color: black;
    margin: 10px 0px 12px 120px;
    border: 2px solid cyan;
    border-radius: 18px;
    color: white;
    
}
input[type="text"]:hover{
    border-color:red;
}
input[type="password"]:hover{
    border-color:red;
}

input[type="submit"]{
    padding: 10px;
    margin:18px 0px 27px 41%;
    width: 17%;
    border: 2px solid green;
    background-color: black;
    color: white;
    border-radius: 17px;

}
input[type="submit"]:hover{
    background-color: #339966;
    cursor: pointer;
    font-weight: 600;
}

img{
    height: 20px;
    margin-bottom: 23px;
}
.logo1{
    margin-left: 36%;
}
.logo2,.logo3{
    margin-left: 37px;
}

